{% extends 'base.html' %}
{% block content %}

   <!-- Header-->
   <header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About Us...</h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcom to Dr. li's Shopping Adventure</p>
        </div>
    </div>

    <div class="container-fluid bg-light">
        <div class="row">
             <center>
                <div class="col-8">
                    <br/><br/>
                    <p align="justify">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo, a perspiciatis. Distinctio ut quo iusto cum tempore voluptatum atque tempora ad qui officiis alias harum veniam amet adipisci officia possimus labore, perspiciatis sint magnam facere ratione similique dolor aperiam soluta. Magni, voluptatem exercitationem ullam odit nihil iure architecto nesciunt doloribus consequuntur nostrum maiores quam aliquam in rerum veritatis praesentium id impedit, mollitia inventore dicta ipsum? Cupiditate.
                    
                    <br/><br/>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat quasi quibusdam itaque beatae et, aspernatur odio porro iure at iusto eaque cupiditate reiciendis, voluptatibus quas? Illo itaque omnis suscipit ipsa quibusdam ex, veritatis fugiat laboriosam, corporis quo alias soluta iste earum nulla, necessitatibus repellat ut eos aut! Veniam beatae id molestiae corrupti, nihil iure libero, tempore eius labore neque reiciendis non exercitationem ab perferendis iste rem.
                    <br/><br/>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos sit consequatur voluptas, placeat, eveniet quisquam, quo similique doloribus quia a commodi eaque. Sint, impedit quas placeat commodi dicta ullam dignissimos, sequi in cum minima architecto laboriosam! Odio doloribus vitae eius molestiae impedit quidem incidunt mollitia hic nemo neque, corrupti sint minus, tempora, culpa eligendi laboriosam iste magni repellat magnam amet recusandae rem harum. Quos, quas commodi.
                    </p>
                    <br/><br/>
                </div>
            </center>
        </div>
    </div>
</header>

{% endblock %}

